<!DOCTYPE html>
<html lang="es" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica con VueJs</title>
</head>

<body>
    <h1>Trabajando con Vue.Js!!</h1>
    <div id="app">
        <p>
            {{ saludo }}
        </p>
        <h2>======Directivas Vue=======</h2>

        <h3>v-show</h3>
        <p v-show="activo"> {{ saludo }} </p> <!-- v-show es para mostrar o no mostrar un elemento -->

        <h3>v-if / v-if-else / v-else condicional</h3>
        <p v-if="activo === true">>Esta activo </p><!-- v-if es para mostrar o no mostrar un elemento -->
        <p v-else-if="activo === false">>No esta activo</p>
        <p v-else> No se que hacer</p>

        <h3>v-for : Directivas para sentencias repetitivas</h3>
        <ul>
            <li v-for="frutas in frutas" :key="frutas">Fruta a comer: {{ frutas }} </li>
            <!-- v-for es para recorrer un array, :key es para que vuejs pueda identificar cada elemento -->
        </ul>

        <ul>
            <li v-for="n in 5" :key="n"> {{ n }} </li> <!-- en este ejemplo se crea un array de 5 elementos -->
        </ul>

        <h3>v-html directiva para pintar html</h3>
        <p v-html="html"></p> <!-- v-html es para pintar html -->

        <h3>v-on:click directiva para eventos</h3>

        <button v-on:click="saludar">Saludar</button> <!-- v-on:click es para ejecutar una funcion al hacer click -->
        <button @click="saludar">Saludar</button> <!-- @click es para ejecutar una funcion al hacer click -->
        <button @click="saludar" @click.once="saludar">Saludar</button>
        <!-- @click.once es para ejecutar una funcion al hacer click una sola vez -->

        <h3>Binding</h3>
        <!-- Binding es para enlazar datos, en este caso se enlaza el valor del input con el valor de la variable -->
        <p>
            <input type="text" v-model="nombre"> <!-- v-model es para hacer binding con un input -->
        </p>
        <p>
            {{ nombre }}
            <!-- se muestra el valor de la variable nombre -->
        </p>

        <h3>Eventos y funciones</h3>
        <button @click="saludar()">Saludar</button> <!-- @click es para ejecutar una funcion al hacer click -->



    </div>



    <script type="text/javascript" src="vue2.js"></script>
    <!-- importamos vue, desde la pagina, se guardo toda la pagina abirendo el link de vue2-->
    <script type="text/javascript" src="index.js"></script>
    <!-- importamos el archivo js donde se encuentra el codigo de vue, siempre despues de la pagina de vue-->
</body>

</html>