<!DOCTYPE html>
<html lang="es" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica con VueJs</title>
</head>

<!--se definen los styles para el cambio de color, estos siempre con _ -->
<style>
    .color_rojo {
        color: red;
    }

    .color_verde {
        color: green;
    }
</style>

<body>
    <h1>Trabajando con Vue.Js!!</h1>
    <div id="app">
        <p>
            {{ saludo }}
        </p>
        <h2>======Directivas Vue=======</h2>

        <h3>v-show</h3>
        <p v-show="activo"> {{ saludo }} </p> <!-- v-show es para mostrar o no mostrar un elemento -->

        <h3>v-if / v-if-else / v-else condicional</h3>
        <p v-if="activo === true">>Esta activo </p><!-- v-if es para mostrar o no mostrar un elemento -->
        <p v-else-if="activo === false">>No esta activo</p>
        <p v-else> No se que hacer</p>

        <h3>v-for : Directivas para sentencias repetitivas</h3>
        <ul>
            <li v-for="frutas in frutas" :key="frutas">Fruta a comer: {{ frutas }} </li>
            <!-- v-for es para recorrer un array, :key es para que vuejs pueda identificar cada elemento -->
        </ul>

        <ul>
            <li v-for="n in 5" :key="n"> {{ n }} </li> <!-- en este ejemplo se crea un array de 5 elementos -->
        </ul>

        <h3>v-html directiva para pintar html</h3>
        <p v-html="html"></p> <!-- v-html es para pintar html -->

        <h3>v-on:click directiva para eventos</h3>

        <button v-on:click="saludar">Saludar</button> <!-- v-on:click es para ejecutar una funcion al hacer click -->
        <button @click="saludar">Saludar</button> <!-- @click es para ejecutar una funcion al hacer click -->
        <button @click="saludar" @click.once="saludar">Saludar</button>
        <!-- @click.once es para ejecutar una funcion al hacer click una sola vez -->

        <h3>Binding</h3>
        <!-- Binding es para enlazar datos, en este caso se enlaza el valor del input con el valor de la variable -->
        <p>
            <input type="text" v-model="texto"> <!-- v-model es para hacer binding con un input -->
        </p>

        <h3>Eventos y funciones</h3>
        <button @click="saludar('Saludadndo desde el html')">Saludar</button>
        <!-- @click es para ejecutar una funcion al hacer click -->
        <br>
        <br>
        <p>Procesamiento de datos dentro de una funcion</p>

        <input type="text" placeholder="Nombre" v-model="full_name">
        <a href="#" @click="verificarFullName()">Verificar Nombre</a>
        <p style="color: red">{{validation_error}}</p>
        <br>

        <h3>Binding de class en html</h3>
        <label for="nombre" :class="{ color_verde: text_success, color_rojo: text_error}">
            <!--  ":class", al ponerle los 2 puntos se le indica a vuejs que es un binding -->
            Nombre:
            <!--  "color-verde" es el nombre de la clase que se encuentra en el style -->
        </label>
        <input type="text" v-model="nombre">
        <button @click="verificarNombre()">Comprobar</button>
        <br>
        <br>
        <h3>Binding de styles</h3>
        <input type="text" v-model="sizetxt"> <!-- el v-model es para hacer binding con un input -->
        <!-- se crea un input para que el usuario pueda ingresar el tamaño del texto, recordar declarlo en data del index.js-->
        <button @click="cambiarTexto()">CambiarTamaño</button>
        <p :style="{fontSize: font_texto + 'px'}"> Cambiando de tamaño el texto de prueba</p>
        <!-- :style es para hacer binding con un style, se le indica que el valor de fontSize es igual al valor de la variable font_texto -->
    </div>

    <script type="text/javascript" src="vue2.js"></script>
    <!-- importamos vue, desde la pagina, se guardo toda la pagina abirendo el link de vue2-->
    <script type="text/javascript" src="index.js"></script>
    <!-- importamos el archivo js donde se encuentra el codigo de vue, siempre despues de la pagina de vue-->
</body>

</html>