<!DOCTYPE html>
<html lang="es" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./bulma.min.css">
  <title>Mis Ideas</title>
</head>

<body>
  <div id="app" style="padding: 2em;">
    <section class="hero">
      <div class="hero-body">
        <h1 class="title">
          Mis ideas
        </h1>
        <h2 class="subtitle">
          Aquí puedes ver las ideas que he tenido
        </h2>
      </div>
    </section>

    <div class="columns">
      <div class="column">
        <section class="hero">
          <div class="hero-body">
            <div class="container">
              <h2 class="subtitle">
                Registrar Idea
              </h2>
              <div class="field">
                <label class="label">Idea</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Ingresar Idea">
                </div>

              </div>
              <div class="field">
                <label class="label">Prioridad</label>
                <div class="control">
                  <div class="select">
                    <select v-model="prioridad">
                      <option value="B">Basica</option>
                      <option value="I">Importante</option>
                      <option value=" M">Muy Importante</option>
                    </select>
                  </div>
                </div>
              </div>
              <button @click="AgregarIdea()" class="button is-success">Agregar</button>
            </div>
          </div>
        </section>
      </div>
      <div class="column">
        <section class="hero">
          <div class="hero-body">
            <div class="container">
              <h2 class="subtitle">
                Lista de Ideas
              </h2>
            </div>

            <div class="field">
              <div class="control">
                <input class="input is-primary" type="text" v-model="search_text" placeholder="Buscar Idea"
                  v-model="idea_txt">
              </div>
            </div>

            <table class="table">
              <thead>
                <th>Idea</th>
                <th>Prioridad</th>
                <th>Acciones</th>
              </thead>
              <tbody>
                <!-- la etiqueta, tbody, es la que contiene los datos de la tabla -->
                <tr v-for="i in lista_ideas">
                  <!-- sellama a la lista de ideas -->
                  <!-- v-for es un ciclo for de vuejs -->
                  <td>{{ i.idea }}</td> <!-- se llama a la lista de ideas y se llama a la columna idea -->
                  <td>
                    <span v-if="i.prioridad === 'B'" class="tag is-info">Basica</span>
                    <span v-esle-if="i.prioridad === 'I'" class="tag is-warning">Importante</span>
                    <span v-else class="tag is-danger">Muy importante</span>
                  </td>
                  <td>
                    <button class="button is-danger is-light" @click="EliminarIdea(i.id)">
                      Eliminar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </section>
      </div>
    </div>
  </div>
  <script type=" text/javascript" src="./vue@2.js"></script>
  <script type=" text/javascript" src="./axios.min.js"></script>
  <script type="text/javascript" src="ideas.js"></script>
</body>

</html>